html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #222222;
    color: #ffffff;
}
.page {
    width: 100%;
    height: 100%;
    display: table;
}
.contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
#content-text {
    font-weight: bold;
    font-size: 5em;
}

.fixture-text {
    /* font-weight: bold; */
    font-size: 2em;
}

.tournament-name-text {
    /* font-weight: bold; */
    font-size: 2.5em;
}

.finished {
    /* font-weight: bold; */
    color:red;
}

.in-game {
    /* font-weight: bold; */
    color:#1db8f0;
}

.not-started {
    /* font-weight: bold; */
    color:white;
}

.minutes-text{
	font-size: 1em;
	color:yellow;
}

.tvs-text{
	font-size: 1em;
	color:#1db8f0;
}

